/*body {*/
/*    display: grid;*/
/*    grid-template-rows: 60px 1fr 40px;*/
/*    grid-template-columns: 10% 1fr 10%;*/
/*    justify-content: center;*/
/*    grid-gap: 5px;*/
/*    grid-template-areas:*/
/*        "header header header"*/
/*        "left main right"*/
/*        "footer footer footer";*/
/*}*/

/*header {*/
/*    display: grid;*/
/*    grid-template-rows: 1fr;*/
/*    grid-template-columns: 6% 1fr 6%;*/
/*    grid-template-areas:*/
/*        "logo nav bhs ";*/
/*    grid-area: header;*/
/*}*/

/*#logo {*/
/*    grid-area: logo;*/
/*}*/

/*#blank-header-space {*/
/*    grid-area: bhs;*/
/*}*/

/*#nav {*/
/*    grid-area: nav;*/
/*    background-color: #fffde6;*/
/*}*/

/*.register-href {*/
/*    grid-area: reg;*/
/*}*/

/*.catalog-href {*/
/*    grid-area: cat;*/
/*}*/

/*.garage-href {*/
/*    grid-area: gar;*/
/*}*/

/*#nav > div {*/
/*    float: left;*/
/*    width: 120px;*/
/*    height: 60px;*/
/*    text-align: center;*/
/*}*/

/*#nav > div > a {*/
/*    position: relative;*/
/*    top: 50%;*/
/*}*/

/*.main-content {*/
/*    grid-area: main;*/
/*    background-color: #fff3e3;*/
/*}*/

/*footer {*/
/*    grid-area: footer;*/

/*    display: grid;*/
/*    grid-auto-columns: 6% 1fr 6%;*/
/*    grid-template-rows: 1fr;*/
/*    grid-template-areas: "blankl f blankr";*/
/*}*/

/*.blank-footer-left {*/
/*    grid-area: blankl;*/
/*}*/

/*.blank-footer-right {*/
/*    group-reset: blankr;*/
/*}*/

/*.footer {*/
/*    grid-area: f;*/
/*    background-color: #fffde6;*/
/*}*/

/*#page-left {*/
/*    grid-area: left;*/
/*    background-color: white;*/
/*}*/

/*#page-right {*/
/*    grid-area: right;*/
/*    background-color: white;*/
/*}*/

/*.prod-item {*/
/*    width: 200px;*/
/*    height: 300px;*/
/*    border: 1px solid;*/
/*    float: left;*/
/*    margin-right: 10px;*/
/*    margin-top: 30px;*/
/*}*/

/*.prod-img-div {*/
/*    background-color: rgba(199,198,200,0.49);*/
/*    height: 200px;*/
/*    border: 1px solid;*/
/*    position: relative;*/
/*}*/

/*.prod-name {*/
/*    margin-left: 10px;*/
/*}*/

/*.prod-cost {*/
/*    float: right;*/
/*    margin-right: 10px;*/
/*    margin-top: 5px;*/
/*}*/

/*.catalog-page {*/
/*    margin-left: 65px;*/
/*}*/

/*.prod-catalog-img {*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    margin: auto;*/
/*}*/


